<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Search Currency API</title>
</head>
<body>
    <div class="h-64">
        <div class="p-4 m-4 bg-green-600">
            <h1>Welcome to Search Currency API</h1>
        </div>
        <div class="code">
            <p>
                <strong>Documentation</strong>: Click to read the
                <a href="https://ihatereading.in/projects/search-currency?type=introduction" target="_blank">Docs</a> 
                the API
            </p>
            <p>
                <strong>Developer</strong>: <a target="_blank" href="https://www.ihatereading.in/squad">Shrey Vijayvargiya</a>
            </p>
            <p>
                <strong>Purpose</strong>: Searching & filtering currencies
            </p>
            <p>
                <strong>Application</strong>: Using the API you can simply search and filter the currencies across the world,
            </p>
            <p><strong>API's</strong></p>
            <ul>
                <li>Search all currencies</li>
                <li>Search currency By Name</li>
                <li>Search currency By Code</li>
                <li>Search currency By Value</li>
            </ul>
        </div>  
    </div>
</body>
</html>